/* Reset all margins and paddings */
* {
    padding: 0;
    margin: 0;
}

.header, .main, .footer {
    background-color: #ece9e9;
}

/* Header */
.logo {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    padding: 10px;
}

.navlinks {
    text-align: center;
    padding-bottom: 10px;
    font-family: "Helvetica";
    color: gray;
    font-size: 18px; 
    color: black;
}

.header .navlinks li {
    display: inline;
    padding: 15px;

}

.navlinks li :visited, .navlinks li :link {
    color: black;
    text-decoration: none;
}

.navlinks li :hover {
    color: #E79100;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px solid #E79100;
    transition: border-width 0.3s linear;
    -webkit-transition: border-width 0.3s linear;   
    -moz-transition:    border-width 0.3s linear; 
    -o-transition:      border-width 0.3s linear; 
}


/* Body */
.main {
    padding-bottom: 20px;
}

.container {
    width: 50%;
    min-width: 300px;
    height: 800px;
    margin-left: 25%;
    border: 1px solid #d0c8c8;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.footer {
    height: 50px;
    padding-top: 20px;
    text-align: center;
    font-family: "Helvetica";
    color: gray;
    font-size: 12px;
}