/* Reset all margins and paddings */
* {
    padding: 0;
    margin: 0;
    
}

.header, .main, .footer {
    background-color: #ece9e9;
}

/* Header */
.logo {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    padding: 10px;
}

.navlinks {
    margin-left: 30px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
    font-family: "Helvetica";
    color: gray;
    font-size: 18px; 
    color: black;
}

.header .navlinks li {
    display: inline;
    padding: 15px;
}

.navlinks li :visited, .navlinks li :link {
    color: black;
    text-decoration: none;
}

.navlinks li :hover {
    color: #E79100;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px solid #E79100;
    transition: border-width 0.3s linear;
    -webkit-transition: border-width 0.3s linear;   
    -moz-transition:    border-width 0.3s linear; 
    -o-transition:      border-width 0.3s linear; 
}


/* Body */
.main {
    padding-bottom: 20px;
}

.container {
    width: 50%;
    min-width: 300px;
    min-height: 800px;
    height: auto;
    margin-left: 25%;
    border: 1px solid #d0c8c8;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.center-image {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    padding-top: 20px;
}

.orange-title {
    text-align: center;
    padding-top: 40px;
    font-family: "Helvetica";
    font-weight: 300;
    color: gray;
    font-size: 40px; 
    color: #E79100;
}

.coding-challenge-content {
    padding: 5%;
    font-family: "Helvetica";
    color: black;
    font-size: 16px; 
}

.coding-challenge-content p {
    padding: 20px 0px;
}

.coding-challenge-content ul {
    padding-left: 40px;
}

.coding-challenge-content h4 {
    padding-top: 10px;
    padding-bottom: 5px;
}

.coding-challenge-content h3 {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #B41912;
    padding-top: 40px;
}


/* Register Page */
.registerForm {
    font-family: "Helvetica";
    font-weight: 500;
    margin-left: 50px;
    padding-top: 60px;
}

.register input {
    width: 80%;
    height: 40px;
    margin: 20px;
    padding-left: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 20px;
    
}

.register input[type=text],
.register input[type=text]:focus {
    outline: none;
}

.register input[type=submit]:focus {
    outline: none;
    background-color: #c27b00;
}

.register input[type=submit] {
    background-color: #E79100;
    font-weight: 500;
}

/* Sign In Page */
.signInForm {
    font-family: "Helvetica";
    font-weight: 500;
    margin-left: 50px;
    padding-top: 60px;
}

.signIn input {
    width: 80%;
    height: 40px;
    margin: 20px;
    padding-left: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 20px;
    
}

.signIn input[type=text],
.signIn input[type=text]:focus {
    outline: none;
}

.signIn input[type=submit]:focus {
    outline: none;
    background-color: #c27b00;
}

.signIn input[type=submit] {
    background-color: #E79100;
    font-weight: 500;
}

.button-center {
    align-content: center;
    width: 200px;
}
/* Footer */

.footer {
    height: 50px;
    padding-top: 20px;
    text-align: center;
    font-family: "Helvetica";
    color: gray;
    font-size: 12px;
}