/* Reset all margins and paddings */
* {
    padding: 0em;
    margin: 0em;
    
}

body {
    background-color: #f7f6f4;
}

/* Header */
.logo {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    padding: 0.625em;
}

.navlinks {
    padding-top: 1.25em;
    text-align: center;
    padding-bottom: 0.625em;
    font-family: "Helvetica";
    color: gray;
    font-size: 1.3em; 
    color: black;
}

.header .navlinks li {
    display: inline;
    padding: 0.9em;
}

.navlinks li :visited, .navlinks li :link {
    color: black;
    text-decoration: none;
}

.navlinks li :hover {
    color: #fcaa1e;
    text-decoration: none;
    padding-bottom: 0.188em;
    border-bottom: 0.125em solid #919191;
    transition: border-width 0.3s linear;
    -webkit-transition: border-width 0.3s linear;   
    -moz-transition:    border-width 0.3s linear; 
    -o-transition:      border-width 0.3s linear; 
}


/* Body */
.main {
    padding-bottom: 1.25em;
}

.container {
    width: 50%;
    min-width: 25em;
    min-height: 35em;
    height: auto;
    margin-left: 25%;
    border: 0.063em solid #d0c8c8;
    background-color: white;
    border-radius: 0.625em;
    box-shadow: 0.3em 0.3em 0.625em gray;
}

.center-image {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    padding-top: 1.25em;
}

.orange-title {
    text-align: center;
    padding-top: 1.25em;
    font-family: "Helvetica";
    font-weight: 300;
    color: gray;
    font-size: 2.5em; 
    color: #fcaa1e;
    border-bottom: 0.03em solid lightgray;
    padding-bottom: 0.25em;
    margin: 0em 4em;
}

.coding-challenge-content {
    padding: 5%;
    font-family: "Helvetica";
    color: black;
    font-size: 1em; 
}

.coding-challenge-content p {
    padding: 0.625em 0em;
}

.coding-challenge-content ul {
    padding-left: 2.5em;
}

.coding-challenge-content h4 {
    padding-top: 0.625em;
    padding-bottom: 0.3em;
}

.coding-challenge-content h3 {
    text-align: center;
    font-weight: 400;
    font-size: 1.875em;
    color: #c6261d;
    padding-top: 2.5em;
}


/* Register Page */
.formContainer {
    font-family: "Helvetica";
    font-weight: 500;
    margin-left: 3.125em;
    padding-top: 3.75em;
}

.form input, .form input {
    width: 80%;
    height: 2.5em;
    margin: 1em 5%;
    padding-left: .5em;
    border: .063em solid lightgray;
    border-radius: 0.313em;
    font-size: 1.25em;
    background-color: #fefefe;
    
}

.form input:focus {
    outline: none;
    background-color: #fcfcfc
}

.form input[type=submit]:focus {
    outline: none;
    background-color: #fcaa1e;
}

.form input[type=submit] {
    background-color: #efede8;
    font-weight: 500;
    margin-bottom: 3em;
    -webkit-appearance: none;
}

.form input[type=submit]:hover {
    background-color: #fcaa1e;
    cursor: pointer;
}

/* Employees Table */
#employees-table {
    border-collapse: collapse;
    width: 90%;
    margin: 10% 5% 5% 5%;
    padding-top: 4em;
    font-family: "Helvetica";
    box-shadow: 0.1em 0.1em 0.425em gray;

}

#employees-table td, #employees-table th {
    border: 0.063em solid #ddd;
    padding: 1em;
}

#employees-table tr:nth-child(even){
    background-color: #f2f2f2;
}


#employees-table th {
    padding: 1em;
    text-align: left;
    background-color: #fcaa1e;
    font-size: 1em;
}
#new-employee {
    text-align: center;
}

#new-employee-text, #new-employee-text :link , #new-employee-text :visited {
    text-align: center;
    font-size: 1.2em;
    padding-top: 0.5em;
    color: #fcaa1e;
    font-family: "Helvetica";
    text-decoration: none;
    font-weight: 200;
    margin-bottom: 1em;
}

#new-employee-text :hover {
    color: gray;
    cursor: pointer;
}


.employees-form input[type=button], .employees-form input[type=button] :active {
    margin-left: 10%;
    background-color: #fcaa1e;
    width: 80%;
    height: 2.5em;
    border-radius: 0.5em;
    font-weight: 600;
    outline: none;
}

.employees-form input[type=button]:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* Extra */
.button-center {
    width: 50%;
    margin-left: 25%;
    padding: 0em;
}

.error-message {
    color: red;
    padding-left: .5em;
}

h3.dependent-number{
    padding: 1em 0em;
    color: #fcaa1e;
    font-weight: 300;
}


/* Footer */

.footer {
    height: 3.125em;
    padding-top: 1.25em;
    text-align: center;
    font-family: "Helvetica";
    color: gray;
    font-size: 1em;
}